body{
    
    background-size: cover;
    background-position: center;
    height: 100vh;
}
nav{
    background-color: black;
    width: 1200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    color: orange;
    font-size: 35px;
    font-family: arial;
    padding-left: 15px;
    padding-top: 2px;
    text-align: left;
}
ul{
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    display: flex;
    float: left;
}
ul li{
    list-style: none;
    padding-left: 62px;
    font-size: 14px;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
}
ul li a:hover{
    color: orange;
}
.parent{
    display: grid;
    grid-template-columns: 700px auto;
    height: 100vh;
}
.leftpanel{
    background-color: transparent;
    margin-right: 20px;
}
.rightpanel{
    background-color: transparent;
}
b{
    padding-left: 20px;
    color: blue;
    text-decoration: underline;
    text-shadow: 2px;
    font-weight: bolder;
    padding-top: 5px;

}
.appl{
    color: blueviolet;
    font-family: Arial;
    font-weight: bolder;
    text-decoration: underline;
}
.I{
    padding-left: 10px;
}
footer{
    background: yellowgreen;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    height: 85px;
}
.old{
    background: yellowgreen;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    
    border: 1px solid blueviolet;
    border-radius: 10px;
    height: 85px;


}

